body{
  margin: 0;
  padding: 0;

}


p{
  color: 123;
  font-size: 70%;
}

.header {
  overflow-y: auto;
  position: fixed;
  z-index: 10000;
}

.menu_bar {
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  font-size: 16px;
  margin: 16px 20px;
}